@font-face {
  font-family: 'IRANSansWeb';
  src: local('IRANSansWeb'), url('../public/Fonts/IRANSansWeb(FaNum).ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'IRANSansWeb';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
